<!DOCTYPE html>
<html>
  <head>
    <title>Vault</title>
    <style>
      body {
        background-color: #090909;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
      }
      a {
        color: #574cfa;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Vault</h1>
    <p>
      Welcome to the Vault{{#session}}, {{session.email}}{{/session}}!
    </p>
    <p>
      <a href="/">Home</a>
      <a href="/modules">Modules</a>
      {{#session}}
        <a href="/sign-out">Sign out</a>
      {{/session}}
      {{^session}}
        <a href="/authenticate">Authenticate</a>
      {{/session}}
    </p>
    {{{body}}}
  </body>
</html>
