<!DOCTYPE html>
<html>
  <head>
    <title>Vault</title>
  </head>
  <body>
    <h1>Vault</h1>
    <p>
      Welcome to the Vault{{#session}}, {{session}}{{/session}}!
    </p>
    <p>
      <a href="/">Home</a>
      <a href="/modules">Modules</a>
      {{#session}}
        <a href="/sign-out">Sign out</a>
      {{/session}}
      {{^session}}
        <a href="/authenticate">Authenticate</a>
      {{/session}}
    </p>
    {{{body}}}
  </body>
</html>
